<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
	<link href="/assets/StyleSheet.css" rel="stylesheet" />
</head>
<body>
  this is an html with ejs engine
  <h2>paramater passed : <%= ID %> </h2>
</body>
</html>
